.ripple-button {
  border: none;
  margin: 8px;
  background: linear-gradient(90deg, #7200ed, #ad69ed);
  padding: 16px 24px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.3);
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.ripple-button > .ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #e4d4f4;
  display: block;
  content: '';
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.ripple-button > .content {
  position: relative;
  z-index: 2;
}
